
{% extends 'main/base.html' %}

{% block content %}
<div class= "container" style="padding: 10px; border-radius: 5px; text-align: center; font-family: Trebuchet MS; background-color: rgba(245, 225, 215, .8); border: solid 5px rgb(40, 17, 19);">    <div class="row">
    <div class="row">
        <ul class="tabs" style="text-align: center; display: flex;">
            <li class="tab col s8"><a href="{% url 'main:profile' %}" style="color: white; background: rgb(40, 17, 19);">Profile</a></li>
        <li class="tab col s8"><a href="{% url 'main:preferences' %}" style="color: black; background: transparent;">Preferences</a></li>
        </ul>
    </div>      
    
    <div class="row container">
        <form method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        <table >
            {{ form }}
            {{ bazForm }}
        </table>
        <br>
        <a href="{% url 'main:profile' %}" style="text-align: center; color: white; font-size: 18px; padding: 5px 20px; background: rgb(40, 17, 19);">Back</a>
        <input style="text-align: center; border: 1px solid rgb(40, 17, 19); border-bottom: none; color: white; font-size: 18px; padding: 5px 20px; background: rgb(40, 17, 19);" type="submit" name="update" value="Update">
        </form>
    </div>
   </div>   
</div>        
{% endblock %}