{% extends 'main/base.html' %}

{% block content %}
<!-- display search/sort form -->
<div class="col s3" style="text-align: center;"> 
{% include 'main/includes/search.html' %}
</div>

<div class="col s9" style="text-align: center;"> 
<!-- display search result cards-->
    <!-- loop through cards in database --> 
    {% for card in data %}
    <!-- handle 3 cards per row --> 
    {% if forloop.counter0|divisibleby:'3' %}
        <div div class="row container" style="display: flex;" >
        <div class="col container s12 m6" style="display: flex; margin-left: 5%; margin-right: 5%; scroll-margin: 0;">
    {% else %}
        <div class="col container s12 m6" style="display: flex; margin-left: 5%; margin-right: 5%; scroll-margin: 0;">
    {% endif %}
        <!-- cards = link to details page -->
        <a title="card-testing" class="btn-link" href="{% url 'main:details' %}?selected={{card.product_id}} ">                 
            <div class="card black hoverable" style="display: inline-block; width: 225px; height: auto;">
                {% load static %}
                <div class="card-image">
                    <img class="media responsive-img" src="{{card.card_image_loc}}" alt="{{card.name}}" style="width:250px; height:auto;" \>
                </div>
                <!-- price + link to vendor REFERENCE LISTING DB-->
                <div class="card-action" style="text-align: center; display: flex; align-items: center;">   
                    {% ifequal %}
                    <a style="pointer-events:none; cursor: default;" href=""> price </a>
                    <a class="" href="{{ l.tcg_player_purchase_url }}">Purchase here </a>
                </div>
            </div>
        </a>
    {% if forloop.counter|divisibleby:'3' %}
    </div>
    </div>
    {% else %}
    </div>
    {% endif %}
</div>
{% endblock %}