{% extends 'main/base.html' %}

{% block content %}
    <!-- search bar -->
    {% include 'main/includes/searchbar.html' %}
    <!-- cards listings -->
    <div class="row container" >
        <!-- loop through listings in database --> 
        {% for card in data %}
            <div class="col container s12 m6" style="display: flex;" >
            <!-- cards = link to details page -->
                <a title="card-testing" class="btn-link" href="{% url 'main:details' %}?selected={{card.product_id}} ">                 
                    <div class="card black hoverable" style="display: inline-block; width: 225px; height: auto;">
                        {% load static %}
                        <div class="card-image">
                            <img class="media responsive-img" src="{{card.card_image_loc}}" alt="{{card.name}}" style="width:250px; height:auto;" \>
                        </div>
                        <!-- price + link to vendor -->
                        <div class="card-action" style="text-align: center; display: flex; align-items: center;">
                            <a style="pointer-events:none; cursor: default;" href="">price </a>
                            <a class="" href="#">go to vendor</a>
                        </div>
                    </div>
                </a>
            {% empty %}
                <div class="col s1" >
                    <a class="btn-link">                 
                        <div class="card black hoverable" style="display: inline-block; width: 225px; height: auto; flex: 3;">
                            <div class="card-content" style="text-align: center;">
                                <span>Sorry, there are no existing listings matching this search.</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
            {% endif %}
            </div>
        {% endfor %} 
{% endblock %}
