{% extends 'main/base.html' %}

{% block content %}
    <li><a class="black-text collapsible-header" href="{% url 'main:notifications' %}"  style="white-space: nowrap;">Manage Your Notifications</a></li><br>
    <div class="white-text">
        <h4> Your Collection</h4>
        {% if not users_collection %}
            <h4> No cards in your collection </h4>
        {% else %}
            <!-- loop through cards in user's collection -->
        {% for c in users_collection %}
            <a title="card-testing" class="btn-link" href="{% url 'main:details' %}?selected={{l.product_id.product_id}} "></a>
                <div class="card black hoverable" style="display: inline-block; width: 225px; height: auto;">
                    <!-- display all known card information -->
                    <h4> {{c.name|title}} </h4>
                    <img src="{{ c.card_image_loc }}" style="width: 225px; height: auto; ">
                    <p>Types: {{ c.type_id|title }}</p>
                    <p>Colors: {{ c.card_color }}</p>
                    <p>Mana Cost/Total: {{ c.mana_cost }}</p>
                    <p>Rarity: {{ c.mana_cost }}</p>
                    <p>Power: {{ c.power }}</p>
                    <p>Card text: {{ c.card_text }}</p>
                    <p>Flavor text: {{ c.flavor_text }}</p>
                    <p>Set: {{ c.mana_cost }}</p>
                    <p>Artist: {{ c.mana_cost }}</p>
                    <p>Year: {{ c.mana_cost }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}