<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>

<body style="background-image: url('{% static 'main/images/bkgd.png' %}'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <!-- web app logo -->
    <div class="row">
        <a href="/"><img class="media responsive-img" src="{% static 'main/images/logo.png' %}" alt="Bazaar of Wonders"></a>
    </div>

    <div class="row">
        <!-- left panel/ side navigation  -->
        {% include 'main/includes/sidenav.html' %}

        <!-- right pangel/ main screen-->
        <div class="col s8 container">
        <li><a class="black-text collapsible-header" href="{% url 'main:home' %}" style="white-space: nowrap;">Return Home<i class="black-text material-icons" >home</i></a></li><br>
        <li><a class="black-text collapsible-header" href="{% url 'main:notifications' %}" style="white-space: nowrap;">Manage Notifications</a></li><br>
            <div class="row container">
            <!-- card deck -->
            {% block content %}
                <p>This is {{user.username|title}}'s collection and notification page</p>
            {% endblock %}
            </div>
        </div>
    </div>

</body>

<!-- Prism JS -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>
