{% extends 'main/base.html' %}
<!-- access custom templatetag -->
{% load fix_url %}
{% block content %}
    <!-- checks for card instance -->      
    {% if c %}
        <div class="container black-text" style="background-color: peru; opacity: .95; text-align: center; border-style:dashed; border-color: white; border-width: thick; padding: 15px; font-size: 18px;">
            <!-- display all known card information -->      
            <h4> {{c.name|title}} </h4>
            {% if user.is_authenticated and card_saved %}
                <p><a style="color:white" href="{% url 'main:collection' %}">This card is in your collection.</a></p>
                <p><a style="color:white" href="{% url 'main:remove_from_collection' %}?selected={{c.product_id}}>"> Remove From Collection<i class="white-text material-icons" >delete</i></a></p><br>
            {% elif user.is_authenticated and not card_saved %}
                <p><a href="{% url 'main:add_to_collection' %}?selected={{c.product_id}}" style="color:white">Add to your collection.</a></p>
            {% else %}
                <p><a style="color:white">Login or create an account to manage your collection.</a></p>
            {% endif %}
            <img src="{{ c.card_image_loc }}" style="width: 225px; height: auto; ">
            <p>Types: {{ c.type_id|title }}</p>
            <p>Colors: {{ c.card_color }}</p>
            <p>Mana Cost/Total: {{ c.mana_cost }}</p>
            <p>Rarity: {{ c.mana_cost }}</p>            
            <p>Power: {{ c.power }}</p>
            <p>Card text: {{ c.card_text }}</p>
            <p>Flavor text: {{ c.flavor_text }}</p>
            <p>Set: {{ c.mana_cost }}</p>
            <p>Artist: {{ c.mana_cost }}</p>
            <p>Year: {{ c.mana_cost }}</p> 

    <!-- card not in database - error msg -->      
    {% else %}
    <div class="container black-text" style="background-color: peru; text-align: center; border-style: groove; border-width: thick; padding: 15px; top: 50%; margin-right: 0; font-size: 18px;">
        <p>Sorry, the card information was not found in our master deck. Return <a href="/" target="_self"><b style="color: black;">home</b></a> </p>
    </div>    
    {% endif %}
    </div>
{% endblock %}