<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script></head>

<body style="background-image: url('{% static 'main/images/bkgd.png' %}'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <!-- web app logo -->
    <div >
        <img class="media responsive-img" src="{% static 'main/images/logo.png' %}" alt="My image">
    </div>
    <!-- search bar -->
    <nav class="white z-depth-0" style="width: 60%;  transform: translate(25%,0); opacity: 0.9;">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    
    <div class="row">
        <!-- left panel -->
        {% include 'main/includes/navbaritems.html' %}
        <!-- right (card deck display) panel -->
        <div class="col s9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    <!-- js message handling, reconsider -->
    <div class="container">
    {% include 'main/includes/messaging.html' %}
    </div>
    
</body>

<!-- Prism JS -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>