{% extends 'main/base.html' %}

{% block content %}
    <!-- search bar -->
    {% include 'main/includes/searchbar.html' %}
    <!-- cards listings -->
    <div class="row container">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <!-- loop through listings in database -->
                    {% for l in listings %}
                        <!-- cards = link to details page -->
                        <a class="btn-link" href="{% url 'main:details' %}?selected={{l.product_id.product_id}} ">                 
                            <div class="card black hoverable" style="display: inline-block; width: 225px; height: auto;">
                                {% load static %}
                                <div class="card-image">
                                    <img class="media responsive-img" src="{{l.product_id.card_image_loc}}" alt="{{l.product_name}}" style="width:250px; height:auto;" \>
                                </div>
                                <!-- price + link to vendor -->
                                <div class="card-action" style="text-align: center; display: flex; align-items: center;">
                                    <a style="pointer-events:none; cursor: default;" href="">{{l.price}} </a>
                                    <a class="" href="#">{{l.seller_key.seller_name}}</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
