{% extends 'main/base.html' %}
{% load materializecss %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ form | materializecss }}
        <input type="submit" value="Submit">
    </form>

<div style="text-align: center;"> 

    {% include 'main/includes/cards.html' %}
</div>

 

 <!-- limit 25 cards per page -->
<footer class="page footer">
    <ul class="pagination">
        {% if data.has_previous %}
        <li>
        <a href="?page={{data.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        {% endif %}
        {% for p in data.paginator.page_range %}
        <li class="{% if data.number == p %}active{% endif %}"><a style="background:black;" href="?page={{p}}">{{p}}</a></li>
        {% endfor %}
        {% if data.has_next %}
        <li>
        <a href="?page={{data.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
        {% endif %}
    </ul>
<footer class="page footer">
{% endblock %}
