{% extends 'main/header.html' %}

{% block content %}

    <div class="container" style="padding-top: 10px;">
        <form class="white black-text" style="opacity:.8; padding: 10px; border-radius: 15px;" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button style="background-color: black; color:white" class="btn btn-outline-info" type="submit">Login</button>
        </form>
        Don't have an account? <a href="/register" target="_self"><strong>register here</strong></a>!
    </div>
{% endblock %}