<!--change or delete bc no scripts -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <li class="green rounded" style="opacity: .8">{{ message | title}}</li>
            {% elif message.tags == 'info'%}
                <li class="white-text blue rounded" style="opacity: .8; padding:2px; display:inline-block;  margin: auto;">{{ message | title}}</li>
            {% elif message.tags  == 'warning'%}
            <li class="orange rounded">{{ message }}</li>
            {% elif message.tags == 'error'%}
            <li class="red rounded">{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}