<nav>
    <div class="nav-wrapper black"> 
        <ul id="menuBtn">
            <!-- Dropdown Trigger -->
            <li><a href="#"><i class="material-icons right">menu</i></a>
                <ul>
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li><a href="{% url 'main:collection' %}">Saved Cards</a></li>
                    <li><a href="{% url 'main:notifications' %}">Account Preferences</a></li>
                </ul>
            </li>      
        </ul>
        <ul class="right hide-on-med-and-down">
            <!-- Account info -->
            {% if user.is_authenticated %}
                <li><a href="">Welcome {{user.username|title}}</a></li>
                <li><a  href="{% url 'main:logout_req' %}" data-target="dropdown1">Logout<i class="material-icons right">logout</i></a></li>   

            {% else %}
                <li><a href="{% url 'main:login_req' %}" data-target="dropdown1">Login<i class="material-icons right">person</i></a></li>   
                <li><a href="{% url 'main:register' %}" data-target="dropdown1">Register<i class="material-icons right">person_add</i></a></li>    


            {% endif %}
        </ul>
    </div>
</nav>   

<form>

</form>
   
   
