<!-- navigation -->
<div class="col s3 center-align" style="background-color: white; opacity: .8; height:100%; padding-bottom: 20px; overflow: auto;">
    <h5 style="background-color: gray; padding:5px;"><b>Menu</b></h5>
        <ul>
            <!-- Welcome user if they are logged in -->
            {% if user.is_authenticated %}
            <li><a class="black-text collapsible-header"  style="white-space: nowrap;">Welcome {{user.username|title}}<i class="black-text material-icons" >verified_user</i></a></li><br>
            {% endif %}
            <!-- menu options based on user auth -->
            <li><a class="black-text collapsible-header" href="{% url 'main:home' %}" style="white-space: nowrap;">Home<i class="black-text material-icons" >home</i></a></li><br>
            {% if user.is_authenticated %}
            <li><a class="black-text collapsible-header" href="{% url 'main:collection' %}"  style="white-space: nowrap;">Your Collection and Notifications</a></li><br>
            <li><a class="black-text collapsible-header" href="{% url 'main:logout_req' %}"  style="white-space: nowrap;">Logout<i class="black-text material-icons">logout</i></a></li><br>
            {% else %}
            <li><a class="black-text collapsible-header" href="{% url 'main:login_req' %}"  style="white-space: nowrap;">Login<i class="black-text material-icons">person_outline</i></a></li><br>
            <li><a class="black-text collapsible-header" href="{% url 'main:register' %}"  style="white-space: nowrap;">Register<i class="black-text material-icons">person_outline</i></a></li><br>
            {% endif %}

            <!-- card display ordering options-->
            <li><b><a class="black-text collapsible-header" style="white-space: nowrap;">Sort by<i class="black-text material-icons">sort</i></a></b></li>
            <form action="#" style="text-align: left;">
                <label class="black-text"> 
                    <input type="checkbox" /> 
                    <span>Collector's Number</span>
                </label>
                <label class="black-text"> 
                    <input type="checkbox" /> 
                    <span>Alphabetical Name</span>
                </label>
                <label class="black-text"> 
                    <input type="checkbox" /> 
                    <span>Price Ascending</span>
                </label>
                <label class="black-text"> 
                    <input type="checkbox" /> 
                    <span>Price Descending</span>
                </label>
                <label class="black-text"> 
                    <input type="checkbox" /> 
                    <span>Customer Rating</span>
                </label>
            </form>
           <br>
            <!-- card filter options-->
            <li><b><a class="black-text collapsible-header" style="white-space: nowrap;">Filter By<i class="black-text material-icons">filter_list</i></a></b>

            <form action="#" style="text-align: left;">
                <label class="black-text" >
                    <input type="checkbox" />
                    <span>Year</span>
                </label> <br>
                <label class="black-text">
                <input type="checkbox" />
                    <span>Set</span>
                </label>
            </form>
            
            <!-- reference / contact info -->
            <li><a class="black-text collapsible-header" href="https://magic.wizards.com/en" style="white-space: nowrap;">Magic The Gathering <i class="black-text material-icons" >high_quality</i></a></li><br>
            <li><a class="black-text collapsible-header" href="mailto:ahillebrand@ufl.edu" style="white-space: nowrap;">Contact <i class="black-text material-icons" >code</i></a></li><br>
        </ul>
</div>